@model HotelManagr.ViewModels.RoomViewModel.DeleteRoomViewModel
<main class="mt-3">
    <h1 class="text-center">Delete</h1>
    <hr class="bg-secondary half-width" />
    <form class="mx-auto half-width" method="post" asp-controller="Room" asp-action="Delete">
        <div class="form-group">
            <label asp-for="Id">Id</label>
            <input asp-for="Id" class="form-control" id="id" placeholder="Id...">
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn chushka-bg-color">Delete</button><!--v toq klas btn chushka-bg-color mai trq da e po drug nachin-->
        </div>
    </form>

</main>