@using Microsoft.AspNetCore.Identity
@using HotelManagr.Data.Models_Entitys_
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-left">

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="text-center">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><font size="9"><b>Hello @User.Identity.Name!</b></font></a>
            </div>

            @if (User.IsInRole("Admin"))
            { //poleta samo za admini

                <br />
                <a asp-controller="User" asp-action="Register">Register new user </a>
                <br />
                <br />
                <a asp-controller="User" asp-action="All">All users </a>
                <br />
                <br />

                <br />
                <a asp-controller="Room" asp-action="Register">Register new rooooooom </a>
                <br />
                <br />
                <a asp-controller="Room" asp-action="All">All rooms </a>
                <br />
                <br />



                /*<form class="form-inline" asp-controller="Client" asp-action="Register">
                   <button type="submit" class="nav-link btn btn-link text-dark">Register new Client</button>
                </form>
                <form class="form-inline" asp-controller="Client" asp-action="Edit">
                    <button type="submit" class="nav-link btn btn-link text-dark">Edit Client</button>
                </form> <form class="form-inline" asp-controller="Client" asp-action="Delete">
                    <button type="submit" class="nav-link btn btn-link text-dark">Delete Client</button>
                </form>*/

            }
            else
            {
                //poleta za user
            }
            //poleta i za user i admin


            <br />
            <a asp-controller="Client" asp-action="Register">Register new client </a>
            <br />
            <br />
            <a asp-controller="Client" asp-action="All">All clients </a>
            <br />
            <br />

            <div>
                <form class="form-inline" asp-controller="User" asp-action="LogOut">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        }
        else
        {

    <div class="text-center">
        <p>
            <font size="9">Welcome To Our Hotel On The Beach</font>
        </p>
        <a class="nav-link text-dark" asp-controller="User" asp-action="Login"><font size="5"><b>Login</b></font></a>
    </div>
        }
    </div>